<mat-toolbar toolbarclass="nav-p" color="primary">
    <mat-toolbar-row>
    <span>Navbar</span>
    <mat-icon mat-raised-button [routerLink]="'Guevara/listado-rent'" fontIcon="description"></mat-icon>
    <mat-icon mat-raised-button [routerLink]="'Guevara/listado'" fontIcon="directions_car"></mat-icon>
    <span class="example-spacer"></span>
    <div class="btn-nav">
        <button mat-raised-button [routerLink]="'Guevara/listado'">Listar</button>
        <button mat-raised-button [routerLink]="'Guevara/nuevo'">Agregar</button>
        <button mat-raised-button [routerLink]="'Guevara/listado-rent'">Listar renta</button>
        <button mat-raised-button [routerLink]="'Guevara/nuevo-rent'">Agregar renta</button>
    </div>
    </mat-toolbar-row>
</mat-toolbar>